* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
	font-family:"RSR";
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
}
html{
    scroll-behavior: smooth;
}
@font-face {
    src: url("../font/RobotoSlab-Regular.ttf");
    font-family: "RSR";
}
/* rezolucija 1920x1080 */
#blok {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	opacity:1;
}
body{
	background-color:#C0C0C0;

}
#glavni-zag {
    position: relative;	
    background-image: url(../img/contact.jpg);
    height: 450px;
    width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 44%;
}

#glavni-zag::after {
    content: ""; 	
    position: absolute; 	
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 	
    z-index: 1; 	
}

#header {
    position: relative; 	
    z-index: 15;	
    color: #fff;
    width: 100%;
    height: inherit;
}

#logo img{
    width:200px;
	height:200px;
	position:absolute;
	top:-60px;
}

#logo a {
    color: #9a9393;
}

#nagl-media {
    font-size: 40px;
    background-color: rgb(9 8 8 / 54%);
    border: #4242427a double 3px;
    letter-spacing: 2px;
    color: #5d4622;
}

#logo h1 {
    color: #9a9393;
}

#meni-zag {
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    justify-content: flex-end;
}

.lista {
    text-decoration: none;
    color: #9a9393;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#meni-zag hr {
    width: 0%;
    transition: width 300ms;
    color: #9a9393;
}

#meni-zag a:hover ~ hr {
    width: 100%;
}

#naslov {
    text-align: center;
    margin-top: 111px;
    font-family: "arial";
    position: relative;
}

#naslov h2 {
    font-size: 60px;
	animation: fadeIn 1s ease-in-out forwards;
}
#naslov p {
    margin-top: 22px;
    font-style: italic;
	animation: fadeIn 2.7s ease-in-out forwards;
}
#kontakt{
	height:800px;
	margin:30px auto;
	width:50%;
	background-color:#aaabad;
	border-radius:20px;
	outline-style: solid;
    outline-width: 2px;
	outline-offset:-10px;
	outline-color:gray;
	box-shadow:15px 15px 26px 9px rgba(0, 0, 0, 0.3);
	transition:all 300ms;
}
#kontakt:hover{
	width:52%;
	height:830px;
}
#naslov2{
	text-align:center;
	font-size:50px;
	margin:20px 0px 20px 0px;
	animation-name:fadeIn;
	animation-duration:2.5s;
}
#forma{
	width: 80%;
    margin: 0px auto;
	animation-name:fadeIn;
	animation-duration:2.5s;
}
#forma input:not(#button-posalji){
	height:70px;
	margin:15px auto;
	width:100%;
	border-radius:20px;
	text-align:center;
}
#forma textarea{
	padding:7px;
	border-radius:20px;
	
	width:100%;
	height:160px;
}
#napomena{
	text-align:center;
}
#button-posalji{
	margin:auto;
	height:70px;
	width:80%;
	color:white;
	background-color:#6c6b6be3;
	border-radius:20px;
	transition:all 300ms;
	border:1px solid;
	margin-left:75px;
	cursor:pointer;
	transition:all 500ms;
}
#button-posalji:hover{
	background-color:white;
	color:#000;
}
footer{
	height:290px;
	border-top:1px solid #000;
	background-color: #aaabad;
	
}
#footerprvi{
	margin:20px auto;
	width:100%;
	height:50%;
	display:flex;
	justify-content:center;
	color:
}
.selekcija{
	width:450px;
	height:100px;
	text-align:center;
}
.selekcija h4{
	margin-bottom:5px;
}
.selekcija a{
	list-style-type:none;
	text-decoration:none;
	color:#000;
}
.selekcija ul{
	margin-left:5px;
}
.selekcija i{
	padding-right:10px;
	color:#423b3b;
}
.selekcija hr {
    width: 0%;
    transition: width 300ms;
    color: #423b3b;
	margin:auto;
}

.selekcija a:hover ~ hr {
    width: 40%;
}
.selekcija form > input[type="email"]{
	margin-top: 5px;
    height: 40px;
    width: 60%;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    color: #423b3b;
    margin-right: 0px;
    transition: all 0.2s;
}
.selekcija form > input[type="submit"]{
    height: 24px;
    width: 40%;
    padding-left: 0px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
    margin-right: 0px;
    transition: all 0.5s;
	background-color:rgb(76 76 76 / 50%);
	cursor:pointer;
}
.selekcija form > input[type="submit"]:hover{
	background-color:#fff;
	color:#000;
}
#kopirajt{
	margin:20px auto;
	width:20%;
	height:60px;
	text-align:center;
}
#kopirajt i{
	color:#fff;
	font-size:40px;
	transition:all 400ms;
	padding:5px;
}
#kopirajt ul li{
	display: inline-block;
	justify-content:space-evenly;
	display:center;
	margin-right:20px;
	
}
#kopirajt p{
	text-align:center;
	font-size:13px;
}
#kopirajt i:hover{
	background-color:#fff;
	border-radius:30px;
	color:#778387;
}
